html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  background-image: url("https://png.pngtree.com/background/20230416/original/pngtree-website-elegant-style-background-picture-image_2443512.jpg");

  /* background-color: whitesmoke; */
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  
  
  background-size: cover;
  background-repeat: no-repeat; 
  /* background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
